<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
         <v-card class="mx-auto mt-5">
            <v-btn rounded color="green acent-2" @click="formNew()">Crear</v-btn>

            <template>
               <v-simple-table>
                 <template v-slot:default>
                   <thead>
                     <tr class="light-blue darken-2">
                       <th class="white--text">Id</th>
                       <th class="white--text">Nombre de user</th>
                       <th class="white--text">Password</th>
                       <th class="white--text">Email</th>
                       <th class="white--text">Acciones</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr v-for="user in users" :key="user._id" >
                       <td>{{ user._id }}</td>
                       <td>{{ user.username }}</td>
                       <td>{{ user.password }}</td>
                       <td>{{ user.email }}</td>
                       <td>
                          <v-btn class="yellow darken-3" dark @click="formEdit(user)">Editar</v-btn>
                          <v-btn class="red darken-4" dark @click="formDelete(user)">Borrar</v-btn>
                       </td>
                     </tr>
                   </tbody>
                 </template>
               </v-simple-table>

               <!-- Componente dialogo de crear y editar -->
               <v-dialog v-model="dialog">
                  <v-card>
                     <v-card-text>
                        <v-card-title v-show="operation != 'delete'" class="">Usuarios</v-card-title>
                        <v-card-title v-show="operation == 'delete'" class="">¿Estas seguro de eliminar este usuario?</v-card-title>
                        <v-form v-show="operation != 'delete'">
                           <v-text-field v-model="user.username" label="Nombre de usuario" required></v-text-field>
                           <v-text-field v-model="user.password" label="Contraseña" required></v-text-field>
                           <v-text-field v-model="user.email" label="Email" required></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-btn @click="dialog=false">Cancelar</v-btn>
                        <v-btn @click="confirm()" type="submit" color="indigo" dark>Guardar</v-btn>
                     </v-card-actions>
                  </v-card>
               </v-dialog>

             </template>
         </v-card>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data(){
         return{
            users: [],
            dialog :false,
            operation: '',
            user:{
               id: null,
               username:'',
               password:'',
               email:''
            }
         }
      },
      created(){
         this.reload()
      },
      methods:{
         //Funciones de ABM
         reload:function(){
            axios.post('/list')
            .then(response=>{
               this.users = response.data;
            })
         },

         create:function(){
            axios.post("/create",
            {
               username: this.user.username,
               password: this.user.password,
               email: this.user.email
            })
            .then(response=>{
               if(response.data.message == "success"){
                  this.reload();
               }
            })
         },
         edit:function(){
            axios.post("/update",{
               userId: this.user._id,
               username: this.user.username,
               password: this.user.password,
               email: this.user.email
            })
            .then(response=>{
               if(response.data.message == "success"){
                  this.reload();
               }
            })
         },
         delete:function(){
            console.log(this.user);
            axios.post("/delete",{
               userId : this.user._id
            })
            .then(response=>{
               if(response.data.message == "success"){
                  this.reload();
               }
            })
         },

         //funciones de formularios y botones
         formNew: function () {
           this.dialog = true; 
           this.operation = "create";
           this.user.username = '';
           this.user.password = '';
           this.user.email = '';
         },
         formEdit:function(user){
            this.user = user;
            this.dialog = true;
            this.operation = 'edit';
         },
         formDelete:function(user){
            this.user = user;
            this.dialog = true;
            this.operation = 'delete';
         },
         confirm:function(){
            if(this.operation == 'create'){
               this.create();
            }
            if(this.operation == 'edit'){
               this.edit();
            }
            if(this.operation == 'delete'){
               this.delete();
            }
            this.dialog = false;
         }
         
      }
    })
  </script>
</body>
</html>